

:root {
    --back-color: #FCF9F8;
    --back-modal-color: #1c1c1c;
    --back-color-footer: #EEEBEA;
    --main-color: #e4d3c6;
    --text-color: black;
    --text-color-white: aliceblue;
    --input-border-color: #a7afc2;
    --font-title: chantal,sans-serif;
    --font: 5vw;
    --line: calc(var(--font) * 3.5);
    --move: calc(-1 * var(--line));
}

/* font 
font-family: 'Amatic SC', cursive;
font-family: 'Lora', serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------------------------------------------------------------------------ */
/* ---------------------------- style css website ------------------------------- */
/* ------------------------------------------------------------------------------ */

/* main and global class */

body
{
    background-color: #fbf7f2;
}

.bloc_page
{
    width: 70%;
    margin: auto;
    padding: auto;
}
h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 3vw;
    padding-left: 5vw;
    margin-bottom: 2.5vw;
}
h2 ,h3 
{
    font-family: 'Lora', serif;  
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 1.5vw;
}

/* nav bar and header  */

.header {
    width: 80%;
    margin: auto;
    padding: auto;
}

nav
{
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;  
    font-size: 2vw;
    text-transform: uppercase;
}

.logo
{
width: 15vw;
height: auto;
margin-top: 10px;
}

nav ul
{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

nav a
{
    text-decoration: none;
    color: black;
}

.hoverr a:hover  
{
    color: #596643;
    border-bottom: 1px solid #596643;
}


/* main article eco def header page */

.defeco
{   
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 6vw;
    margin-top: 2vw;
}

.texte
{
    font-family: 'Lora', serif;  
    font-weight: normal;
    font-size: 1.1vw;
    padding-top: 1vw;
}

article
{
    text-align: justify;
    margin-right: 7vw;
    margin-left: 5vw;
    margin-top: 3vw;
    margin-bottom: 3.3vw;
}

.Titre_Def
{
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 3vw;
    padding-left: 5vw;
    margin-bottom: 2.5vw;
}

.tableau
{
    display: flex;
    width: 25%;
    height: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-right: 4vw;
    box-shadow: 0px 4px 4px #1c1a19;
}


/* Centre */

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
    .zone_texte_animation {
        animation: wipe-enter 0.9s 1;
    }
}


.background
{
    position: relative;
    margin: auto;
    padding: auto;
    background: url('../assets/images/background.jpg') no-repeat;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 38vw;
    z-index: 2;
}

.zone_texte_wrapper
{   
    position: absolute;
    width: 60%;
    height: 15vw;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    border-radius: 5px;
    z-index: 1;
    transition: transform .3s;
}

.zone_texte {
    background-color: white;
    height: 15vw;
    text-align: center;
    padding-top: 4.3vw;
    padding-bottom: 1vw;
    padding-right: 2vw;
    padding-left: 2vw;
    
}
.zone_texte_wrapper:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15);
}

.cit
{
    font-family: 'Lora', serif;
    font-weight: normal;
    font-size: 1.3vw;
}

.aut
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 1.3vw;
    margin-top: 1vw;
}

/* Articles */ 

.bloc_page_2
{
    display: flex;
    width: 70%;
    margin: auto;
    padding: auto;
    justify-content: space-between;
}

.titre_article
{
    font-family: 'Lora', serif;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5vw;
    margin-bottom: 4vw;
    margin-top: 4vw;
    padding: auto;
}

.fa-brands
{
    color: #596643;
    font-size: 1.6vw;
    margin-top: 1vw;
}

.content
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    width: 95%;
}

.content p {

    font-family: 'Lora', serif; 
    font-weight: normal;
    font-size: 1vw;
}

.article-b
{
    background-color: white;
    width: 32%;
    text-align: center;
    padding: 0 2vw 2vw 2vw;
    margin-bottom: 3vh;
    border-radius: 3px;
}

.article-b h3 {
    font-size: 1.2vw;
}

.bouton
{
    height: 2.5vw;
    width: 30%;
    background-color: #596643;
    border-radius: 5px;
    font-size: 1vw;
    font-family: 'Lora', serif;
    text-align: center;
    padding: 0.8vw 1vw 0.8vw 1vw;
    color: white;
    text-decoration: none;
    margin: auto;
    transition: 0.4s;
}

.bouton:hover {
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.75);
    color: black;
}
.img
{
    max-width: 95%;
    height: 13vw;
    margin-top: 1.5vw;
    margin-bottom: 2vw;
    object-fit: cover;
    
}



/* Footer */

footer
{
    display: flex;
    flex-direction: column;
    background-color: #e4d3c6;
    height: 14vw;
    align-items: flex-end;
}

.zone_texte_2
{
    margin: auto;
    color: white;   
    font-size: 1vw;
    width: 20vw;
    text-align: center;
}


/* page articles */

.paraset p {
    font-family: 'Lora', serif;  
    font-weight: normal;
    font-size: 0.9vw;
    padding: 1vw;
}